
<style>
    .main {
        display: flex;
        width: 30%;
    }
    .child{
        border:1px solid black;
        padding:2%;
        width:260px !important;
        margin-right: 2%;
        background-color:#f0f0ea;
        margin-bottom : 3%;
    }
    
     img{
        width:200px;
        margin-bottom:2%;
    }
    h4{
    margin-right: 3px
    }
    .textClass{
    font-size: 14px;
    }
    form{
        margin-left: 5%;
    }
    .bs{
    display: inline;
    }
    span{
    width: fit-content;
    }
   .sd{
    position:absolute;
    margin-left: 2%;
    }
</style>
@if (ViewBag.UserRole != null)
{
    <script>
        document.getElementById("login").innerHTML = "Log Out";
        document.getElementById("login").href = "../../Auth/LogOut";
    </script>
}
else
{
    <script>
        document.getElementById("login").href = "../../Auth/";
    </script>
}

<div class="main">
    <div class="child">
        <img src="@ViewBag.director.Portrait" style="width:200px" alt=""/>
    </div>
    <form asp-controller="Director" asp-action="Edit">
        <input type="hidden" value="@ViewBag.director.Id" name="Id">
        <h3>Name</h3>
        <div style="display: flex;">
            <input value="@ViewBag.director.Name" name="Name" style="margin-right: 2%">
            <input value="@ViewBag.director.LastName" name="LastName">
        </div>
        <h3>BirthDate</h3>
        <input value="2013-01-08" name="BirthDate">
        <h3>Rating</h3>

        <input value="@ViewBag.director.Rating" name="Rating">
        <h3>Portrait</h3>

        <input value="@ViewBag.director.Portrait" name="Portrait">

        <input type="submit" class="sd">
    </form>
</div>

