
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    width: 80%;
    justify-content: start;
    flex-wrap:wrap;
    height: auto;
}
.child{
    margin-right: 4%;
    border:1px solid black;
    padding:2%;
    width:260px !important;
    background-color:#f0f0ea;
    margin-bottom : 3%;
}
img{
    width:200px;
    margin-bottom:2%;
}
h4{
    text-transform: capitalize;
    margin-top:2%;
}
span{
    margin-bottom : 100%;
}
.footer{
    display: none;
}
.sidebar{
    padding:10px;
    background-color: #F0F0EA;
    width: 15%;
    top: 9%;
    position: absolute;
    left: 85%;
    border-radius: 2%;
}
#genre{
width: 100%;
margin-bottom:2%;
}
#date{
width:100%;
}
#imdb{
width:100%;
}
#myRange{
width: 100%;
}
label{
margin-top: 2%;
}
.mainButton{
width: 100%;
margin-bottom: 2%;
border: none;
background-color: #007bff;
color: #fff;
font-family: "Segoe UI",serif;
font-weight: 400;
border-radius: 2px;
margin-top: 2%;
}
.secondButton{
width: 100%;
margin-bottom: 2%;
border: none;
background-color: #484e52;
color: #fff;
font-family: "Segoe UI",serif;
font-weight: 400;
border-radius: 2px;
}
.delete{
color: #fff;
font-family: "Segoe UI",serif;
font-weight: 400;
border-radius: 2px;
border: none;
padding: 2px;
background-color: #dc3545;
width:50%;
}
.viewmore{
color: #fff;
font-family: "Segoe UI",serif;
font-weight: 400;
border-radius: 2px;
border: none;
padding: 2px;
background-color: #212425;
width:40%;
}
.delete:hover{
background-color: #bf2e3c;
}
.viewmore:hover{
background-color: #101112;
}
.edit{
color: #fff;
font-family: "Segoe UI",serif;
font-weight: 400;
border-radius: 2px;
border: none;
padding: 2px;
background-color: #007bff;
width:92%;
margin-top: 2%;
}
.edit:hover{
    background-color: #006ce0;
}
</style>
@if (ViewBag.UserRole != null)
{
    <script>
        document.getElementById("login").innerHTML = "Log Out";
        document.getElementById("login").href = "../Auth/LogOut";
    </script>
}

<div class="main">
    @foreach (var actor in ViewBag.actors)
    {
        <div class="child">
            <img src="@actor.Portrait" alt="@actor.LastName"/>
            <h4>@actor.Name @actor.LastName</h4>
            <span>Imdb : @actor.Rating</span><br/>
            <span>Birthday : @actor.BirthDate.Year/@actor.BirthDate.Month/@actor.BirthDate.Day</span>
            
            <div class="buttons"><br>
                <input type="button" value="More" onclick="window.location.href='Actor/details/@actor.Id';" class="viewmore"/>
                @if (ViewBag.userRole == "admin")
                {
                    <button type="button" value="Delete" class="delete" onclick="window.location.href='Actor/delete/@actor.Id';">Delete</button>
                }
            </div>
             @if (ViewBag.userRole == "admin")
             {
                <input type="button" value="Edit" onclick="window.location.href='Actor/edit/@actor.Id';" class="edit"/>
             }
        </div>
    }
</div>

<div class="sidebar">
    <form method="get" asp-action="index" asp-controller="Actor">
        <label for="imdb">Choose rating : </label>
        <select id="imdb" name="imdb">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br />
        <input type="submit" class="mainButton"/>
        <input type="button" class="secondButton" value="Clear" onclick="window.location.href='/Actor';"/>
    </form>
</div>