<style>
.main {
    display: flex;
    width: 90%;
}
.child{
    border:1px solid black;
    padding:2%;
    width:260px !important;
    margin-right: 2%;
    background-color:#f0f0ea;
    margin-bottom : 3%;
}
   
img{
    width:200px;
    margin-bottom:2%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  height: 20%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
p{
width: 90%;
}
.comment{
margin-top:2%;
width: 90%;
border: 1px solid black;
padding: 10px;
}
.text{
padding: 4px;
margin-bottom: 2%;
display: block;
width: 90%;
}
.viewmore{
color: #fff;
font-family: "Segoe UI",serif;
font-weight: 400;
border-radius: 2px;
margin-top: 2%;
border: none;
padding: 4px;
background-color: #007bff;
width:20%;
}
.viewmore:hover{
background-color: #0871e2;
}
.delete{
color: #fff;
font-family: "Segoe UI",serif;
font-weight: 400;
border-radius: 2px;
border: none;
padding: 2px;
background-color: #dc3545;
width:10%;
}
.delete:hover{
background-color: #b3333f;
}
.time{
font-size: 11px;
}
.edit{
margin-top: 2%;
color: #fff;
font-family: "Segoe UI",serif;
font-weight: 400;
border-radius: 2px;
border: none;
padding: 2px;
background-color: #212425;
width: 10%;
}
#editForm{
margin-bottom: 2%;
}
</style>
@if (ViewBag.userRole != null)
{
    <script>
        document.getElementById("login").innerHTML = "Log Out";
        document.getElementById("login").href = "/Auth/LogOut";
       
    </script>
}
else
{
    <script>
        document.getElementById("login").style.display = "none";
    </script>

}
@if (ViewBag.movie != null)
{
    Movie movie = ViewBag.movie;
    <h1>@movie.Name</h1>
    <div class="main">

        <div class="child">
            <img src="@movie.Poster" style="width:200px" alt=""/>
        </div>
        <table>
            <tr style="height: 20%">
                <th>Genre</th>
                <th>Director</th>
                <th>Release Date</th>
                <th>IMDB</th>
                <th style="width: 15%">Rotten Tomatoes</th>
            </tr>
            <tr>
                <td>@movie.Genre.Name</td>
                <td><a href="../../director/details/@movie.Director.Id">@movie.Director.LastName @movie.Director.Name</a></td>
                <td>@movie.ReleaseDate.Year/@movie.ReleaseDate.Month/@movie.ReleaseDate.Day</td>
                <td>@movie.IMDB</td>
                <td>@movie.RottenTomatoes</td>
            </tr>
        </table>
    
    </div>
    <h3>Description :</h3>
    <p>
        @movie.Description
    </p>
    
    
    
    <h1>Comment Section : </h1>
                          
    var z = 0;
    var k = "tag";
    
    @foreach (var comment in ViewBag.comments)
    {
        z++;
        <div class="comment">
            <span class="time">@comment.CommentDate</span>
            
            <h3>@comment.User.Mail : </h3>
            <p id="@k@z">@comment.Text</p>
            
            @if (ViewBag.userRole == "admin")
            {
                <form asp-controller="Comment" asp-action="Edit" style="display:none;" id="@z">
                    <input type="text" name="text" value="@comment.Text">
                    <input type="hidden" name="id" value="@comment.CommentId">
                    <button type="submit">Submit</button><br>
                </form>
                
                <button type="button" class="delete" onclick="window.location.href='../../Comment/Delete/@comment.CommentId';">Delete</button>                
                <button type="button" class="edit" onclick="Edit(@z)">Edit</button>
            }
        </div>
    }
    <hr>
    @if (ViewBag.userId != null)
    {
        <form method="post" asp-controller="Comment" asp-action="PostComment" id="myAnchor">
            <input type="hidden" value="@ViewBag.movie.Id" name="movieId">
            <input type="hidden" name="url" id="url">
            <input type="text" name="text" class="text" required>
            <button type="submit" class="viewmore">Post</button>
        </form>
    }
    else
    {
        <h1>Must be logged in to comment</h1>
    }
}
else
{
<h1>No movie Found</h1>
}
@if (true)
{
    <script>
    
    const Edit = (z) => {    
        let form = document.getElementById(z);
        let text = document.getElementById("tag"+z);
        
        text.style.display = "none";
        form.style.display = "inherit";
    }
    </script>
}

