<style>
.main {
    display: flex;
    width: 90%;
}
.child{
    padding:2%;
    width:260px !important;
    margin-right: 2%;
    margin-bottom : 3%;
}
img{
    width:200px;
    margin-bottom:2%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  height: 20%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
textarea{
width: 400px;
height: 70px;
}
</style>
    @if (ViewBag.userId != null)
    {
        <script>
            document.getElementById("login").innerHTML = "Log Out";
            document.getElementById("login").href = "/Auth/LogOut";
        </script>
    }

<div class="main">
      <div class="child">
            <img src="@ViewBag.Movie.Poster" style="width:200px" alt=""/>
        </div>
         <div class="main">
             <form asp-controller="Movie" asp-action="Edit">
                 <input type="text" disabled name="Id" value="@ViewBag.Movie.Id">
                 
                 <h3>Name</h3>
                 <input value="@ViewBag.Movie.Name" name="Name" style="margin-right: 2%">

                 <h3>Release date </h3>
                 <input value="@ViewBag.Movie.ReleaseDate" name="ReleaseDate">

                 <h3>Rating</h3>
                 <input value="@ViewBag.Movie.IMDB" name="IMDB">

                 <h3>RT %</h3>
                 <input value="@ViewBag.Movie.RottenTomatoes" name="RottenTomatoes">

                 <h3>Poster</h3>
                 <input value="@ViewBag.Movie.Poster" name="Poster">

                 <h3>Genre</h3>
                 <select name="Genre">
                     @foreach (var genre in ViewBag.Genres)
                     {
                         if (ViewBag.Movie.Genre.Name == genre.Name)
                         {
                             <option value="@genre.Id" selected>@genre.Name</option>
                         }
                         else
                         {
                             <option value="@genre.Id">@genre.Name</option>
                         }
                     }
                 </select>

                 <h3>Description</h3>
                 <textarea name="Description">@ViewBag.Movie.Description</textarea>
                 <br><br>
                 <input type="submit" class="sd">
             </form>
        </div>
        
</div>


